/* Uncomment and set these variables to customize the grid. */

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.flex-col-xs,
.flex-col-xs-1,
.flex-col-xs-2,
.flex-col-xs-3,
.flex-col-xs-4,
.flex-col-xs-5,
.flex-col-xs-6,
.flex-col-xs-7,
.flex-col-xs-8,
.flex-col-xs-9,
.flex-col-xs-10,
.flex-col-xs-11,
.flex-col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.flex-col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
  .flex-col-xs-1 {
       -ms-flex-preferred-size: 100%;
       flex-basis: 100%;
       max-width: 100%;
   }

   .flex-col-xs-2 {
       -ms-flex-preferred-size: 50%;
       flex-basis: 50%;
       max-width: 50%;
   }

   .flex-col-xs-3 {
       -ms-flex-preferred-size: 33.33%;
       flex-basis: 33.33%;
       max-width: 33.33%;
   }

   .flex-col-xs-4 {
       -ms-flex-preferred-size: 25%;
       flex-basis: 25%;
       max-width: 25%;
   }

   .flex-col-xs-5 {
       -ms-flex-preferred-size: 20%;
       flex-basis: 20%;
       max-width: 20%;
   }

   .flex-col-xs-6 {
       -ms-flex-preferred-size: 16.667%;
       flex-basis: 16.667%;
       max-width: 16.667%;
   }

   .flex-col-xs-7 {
       -ms-flex-preferred-size: 14.285%;
       flex-basis: 14.285%;
       max-width: 14.285%;
   }

   .flex-col-xs-8 {
       -ms-flex-preferred-size: 12.5%;
       flex-basis: 12.5%;
       max-width: 12.5%;
   }

   .flex-col-xs-9 {
       -ms-flex-preferred-size: 11.111%;
       flex-basis: 11.111%;
       max-width: 11.111%;
   }

   .flex-col-xs-10 {
       -ms-flex-preferred-size: 10%;
       flex-basis: 10%;
       max-width: 10%;
   }

   .flex-col-xs-11 {
       -ms-flex-preferred-size: 9.09%;
       flex-basis: 9.09%;
       max-width: 9.09%;
   }

   .flex-col-xs-12 {
       -ms-flex-preferred-size: 8.333%;
       flex-basis: 8.333%;
       max-width: 8.333%;
   }

   /*css for the offset */

   .flex-col-xs-offset-1 {
       margin-left: 8.333%;
   }

   .flex-col-xs-offset-2 {
       margin-left: 16.667%;
   }

   .flex-col-xs-offset-3 {
       margin-left: 25%;
   }

   .flex-col-xs-offset-4 {
       margin-left: 33.333%;
   }

   .flex-col-xs-offset-5 {
       margin-left: 41.667%;
   }

   .flex-col-xs-offset-6 {
       margin-left: 50%;
   }

   .flex-col-xs-offset-7 {
       margin-left: 58.333%;
   }

   .flex-col-xs-offset-8 {
       margin-left: 66.667%;
   }

   .flex-col-xs-offset-9 {
       margin-left: 75%;
   }

   .flex-col-xs-offset-10 {
       margin-left: 83.333%;
   }

   .flex-col-xs-offset-11 {
       margin-left: 91.667%;
   }

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}
.hidden-xs {
display:none !important;
}
.visible-xs {
	display: block !important;
}
@media only screen and (max-width: 48em) {
	.noPadding-xs {
		padding: 0px !important;
	}
}

@media only screen and (min-width: 48em) {
	.container {
		width: 46rem;
	}

	.flex-col-sm,
	.flex-col-sm-1,
	.flex-col-sm-2,
	.flex-col-sm-3,
	.flex-col-sm-4,
	.flex-col-sm-5,
	.flex-col-sm-6,
	.flex-col-sm-7,
	.flex-col-sm-8,
	.flex-col-sm-9,
	.flex-col-sm-10,
	.flex-col-sm-11,
	.flex-col-sm-12 {
		box-sizing: border-box;
		-ms-flex: 0 0 auto;
		-webkit-box-flex: 0;
		flex: 0 0 auto;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.flex-col-sm-1 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}

	.flex-col-sm-2 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.flex-col-sm-3 {
		-ms-flex-preferred-size: 33.33%;
		flex-basis: 33.33%;
		max-width: 33.33%;
	}

	.flex-col-sm-4 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.flex-col-sm-5 {
		-ms-flex-preferred-size: 20%;
		flex-basis: 20%;
		max-width: 20%;
	}

	.flex-col-sm-6 {
		-ms-flex-preferred-size: 16.667%;
		flex-basis: 16.667%;
		max-width: 16.667%;
	}

	.flex-col-sm-7 {
		-ms-flex-preferred-size: 14.285%;
		flex-basis: 14.285%;
		max-width: 14.285%;
	}

	.flex-col-sm-8 {
		-ms-flex-preferred-size: 12.5%;
		flex-basis: 12.5%;
		max-width: 12.5%;
	}

	.flex-col-sm-9 {
		-ms-flex-preferred-size: 11.111%;
		flex-basis: 11.111%;
		max-width: 11.111%;
	}

	.flex-col-sm-10 {
		-ms-flex-preferred-size: 10%;
		flex-basis: 10%;
		max-width: 10%;
	}

	.flex-col-sm-11 {
		-ms-flex-preferred-size: 9.09%;
		flex-basis: 9.09%;
		max-width: 9.09%;
	}

	.flex-col-sm-12 {
		-ms-flex-preferred-size: 8.333%;
		flex-basis: 8.333%;
		max-width: 8.333%;
	}
	/*css for the offset */
	.flex-col-sm-offset-1 {
		margin-left: 8.333%;
	}

	.flex-col-sm-offset-2 {
		margin-left: 16.667%;
	}

	.flex-col-sm-offset-3 {
		margin-left: 25%;
	}

	.flex-col-sm-offset-4 {
		margin-left: 33.333%;
	}

	.flex-col-sm-offset-5 {
		margin-left: 41.667%;
	}

	.flex-col-sm-offset-6 {
		margin-left: 50%;
	}

	.flex-col-sm-offset-7 {
		margin-left: 58.333%;
	}

	.flex-col-sm-offset-8 {
		margin-left: 66.667%;
	}

	.flex-col-sm-offset-9 {
		margin-left: 75%;
	}

	.flex-col-sm-offset-10 {
		margin-left: 83.333%;
	}

	.flex-col-sm-offset-11 {
		margin-left: 91.667%;
	}

	.noPadding-sm {
		padding: 0px !important;
	}

	.start-sm {
		-ms-flex-pack: start;
		-webkit-box-pack: start;
		justify-content: flex-start;
		text-align: start;
	}

	.center-sm {
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
		text-align: center;
	}

	.end-sm {
		-ms-flex-pack: end;
		-webkit-box-pack: end;
		justify-content: flex-end;
		text-align: end;
	}

	.top-sm {
		-ms-flex-align: start;
		-webkit-box-align: start;
		align-items: flex-start;
	}

	.middle-sm {
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
	}

	.bottom-sm {
		-ms-flex-align: end;
		-webkit-box-align: end;
		align-items: flex-end;
	}

	.around-sm {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.between-sm {
		-ms-flex-pack: justify;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}

	.first-sm {
		-ms-flex-order: -1;
		-webkit-box-ordinal-group: 0;
		order: -1;
	}

	.last-sm {
		-ms-flex-order: 1;
		-webkit-box-ordinal-group: 2;
		order: 1;
	}
	.hidden-sm {
		display: none !important;
	}
	.visible-sm {
		display: block !important;
	}
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }
.flex-col-md,
.flex-col-md-1,
.flex-col-md-2,
.flex-col-md-3,
.flex-col-md-4,
.flex-col-md-5,
.flex-col-md-6,
.flex-col-md-7,
.flex-col-md-8,
.flex-col-md-9,
.flex-col-md-10,
.flex-col-md-11,
.flex-col-md-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
    .flex-col-md-1 {
           -ms-flex-preferred-size: 100%;
           flex-basis: 100%;
           max-width: 100%;
       }
       .flex-col-md-2 {
           -ms-flex-preferred-size: 50%;
           flex-basis: 50%;
           max-width: 50%;
       }
       .flex-col-md-3 {
           -ms-flex-preferred-size: 33.33%;
           flex-basis: 33.33%;
           max-width: 33.33%;
       }
       .flex-col-md-4 {
           -ms-flex-preferred-size: 25%;
           flex-basis: 25%;
           max-width: 25%;
       }
       .flex-col-md-5 {
           -ms-flex-preferred-size: 20%;
           flex-basis: 20%;
           max-width: 20%;
       }
       .flex-col-md-6 {
           -ms-flex-preferred-size: 16.667%;
           flex-basis: 16.667%;
           max-width: 16.667%;
       }
       .flex-col-md-7 {
           -ms-flex-preferred-size: 14.285%;
           flex-basis: 14.285%;
           max-width: 14.285%;
       }
       .flex-col-md-8 {
           -ms-flex-preferred-size: 12.5%;
           flex-basis: 12.5%;
           max-width: 12.5%;
       }
       .flex-col-md-9 {
           -ms-flex-preferred-size: 11.111%;
           flex-basis: 11.111%;
           max-width: 11.111%;
       }
       .flex-col-md-10 {
           -ms-flex-preferred-size: 10%;
           flex-basis: 10%;
           max-width: 10%;
       }
       .flex-col-md-11 {
           -ms-flex-preferred-size: 9.09%;
           flex-basis: 9.09%;
           max-width: 9.09%;
       }
       .flex-col-md-12 {
           -ms-flex-preferred-size: 8.333%;
           flex-basis: 8.333%;
           max-width: 8.333%;
       }
       /*css for the offset */
       .flex-col-md-offset-1 {
           margin-left: 8.333%;
       }

       .flex-col-md-offset-2 {
           margin-left: 16.667%;
       }

       .flex-col-md-offset-3 {
           margin-left: 25%;
       }

       .flex-col-md-offset-4 {
           margin-left: 33.333%;
       }

       .flex-col-md-offset-5 {
           margin-left: 41.667%;
       }

       .flex-col-md-offset-6 {
           margin-left: 50%;
       }

       .flex-col-md-offset-7 {
           margin-left: 58.333%;
       }

       .flex-col-md-offset-8 {
           margin-left: 66.667%;
       }

       .flex-col-md-offset-9 {
           margin-left: 75%;
       }

       .flex-col-md-offset-10 {
           margin-left: 83.333%;
       }

       .flex-col-md-offset-11 {
           margin-left: 91.667%;
       }
	.noPadding-md {
		padding: 0px !important;
	}
       .start-md {
           -ms-flex-pack: start;
           -webkit-box-pack: start;
           justify-content: flex-start;
           text-align: start;
       }

       .center-md {
           -ms-flex-pack: center;
           -webkit-box-pack: center;
           justify-content: center;
           text-align: center;
       }

       .end-md {
           -ms-flex-pack: end;
           -webkit-box-pack: end;
           justify-content: flex-end;
           text-align: end;
       }

       .top-md {
           -ms-flex-align: start;
           -webkit-box-align: start;
           align-items: flex-start;
       }

       .middle-md {
           -ms-flex-align: center;
           -webkit-box-align: center;
           align-items: center;
       }

       .bottom-md {
           -ms-flex-align: end;
           -webkit-box-align: end;
           align-items: flex-end;
       }

       .around-md {
           -ms-flex-pack: distribute;
           justify-content: space-around;
       }

       .between-md {
           -ms-flex-pack: justify;
           -webkit-box-pack: justify;
           justify-content: space-between;
       }

       .first-md {
           -ms-flex-order: -1;
           -webkit-box-ordinal-group: 0;
           order: -1;
       }

       .last-md {
           -ms-flex-order: 1;
           -webkit-box-ordinal-group: 2;
           order: 1;
       }
	.hidden-md {
		display: none !important;
	}
	.visible-md {
		display: block !important;
	}
}

@media only screen and (min-width: 75em) {
.flex-col-lg,
.flex-col-lg-1,
.flex-col-lg-2,
.flex-col-lg-3,
.flex-col-lg-4,
.flex-col-lg-5,
.flex-col-lg-6,
.flex-col-lg-7,
.flex-col-lg-8,
.flex-col-lg-9,
.flex-col-lg-10,
.flex-col-lg-11,
.flex-col-lg-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
    .flex-col-lg-1 {
           -ms-flex-preferred-size: 100%;
           flex-basis: 100%;
           max-width: 100%;
       }
       .flex-col-lg-2 {
           -ms-flex-preferred-size: 50%;
           flex-basis: 50%;
           max-width: 50%;
       }
       .flex-col-lg-3 {
           -ms-flex-preferred-size: 33.33%;
           flex-basis: 33.33%;
           max-width: 33.33%;
       }
       .flex-col-lg-4 {
           -ms-flex-preferred-size: 25%;
           flex-basis: 25%;
           max-width: 25%;
       }
       .flex-col-lg-5 {
           -ms-flex-preferred-size: 20%;
           flex-basis: 20%;
           max-width: 20%;
       }
       .flex-col-lg-6 {
           -ms-flex-preferred-size: 16.667%;
           flex-basis: 16.667%;
           max-width: 16.667%;
       }
       .flex-col-lg-7 {
           -ms-flex-preferred-size: 14.285%;
           flex-basis: 14.285%;
           max-width: 14.285%;
       }
       .flex-col-lg-8 {
           -ms-flex-preferred-size: 12.5%;
           flex-basis: 12.5%;
           max-width: 12.5%;
       }
       .flex-col-lg-9 {
           -ms-flex-preferred-size: 11.111%;
           flex-basis: 11.111%;
           max-width: 11.111%;
       }
       .flex-col-lg-10 {
           -ms-flex-preferred-size: 10%;
           flex-basis: 10%;
           max-width: 10%;
       }
       .flex-col-lg-11 {
           -ms-flex-preferred-size: 9.09%;
           flex-basis: 9.09%;
           max-width: 9.09%;
       }
       .flex-col-lg-12 {
           -ms-flex-preferred-size: 8.333%;
           flex-basis: 8.333%;
           max-width: 8.333%;
       }
       /*css for the offset */
       .flex-col-lg-offset-1 {
           margin-left: 8.333%;
       }

       .flex-col-lg-offset-2 {
           margin-left: 16.667%;
       }

       .flex-col-lg-offset-3 {
           margin-left: 25%;
       }

       .flex-col-lg-offset-4 {
           margin-left: 33.333%;
       }

       .flex-col-lg-offset-5 {
           margin-left: 41.667%;
       }

       .flex-col-lg-offset-6 {
           margin-left: 50%;
       }

       .flex-col-lg-offset-7 {
           margin-left: 58.333%;
       }

       .flex-col-lg-offset-8 {
           margin-left: 66.667%;
       }

       .flex-col-lg-offset-9 {
           margin-left: 75%;
       }

       .flex-col-lg-offset-10 {
           margin-left: 83.333%;
       }

       .flex-col-lg-offset-11 {
           margin-left: 91.667%;
       }
	.noPadding-lg {
		padding: 0px !important;
	}
       .start-lg {
           -ms-flex-pack: start;
           -webkit-box-pack: start;
           justify-content: flex-start;
           text-align: start;
       }

       .center-lg {
           -ms-flex-pack: center;
           -webkit-box-pack: center;
           justify-content: center;
           text-align: center;
       }

       .end-lg {
           -ms-flex-pack: end;
           -webkit-box-pack: end;
           justify-content: flex-end;
           text-align: end;
       }

       .top-lg {
           -ms-flex-align: start;
           -webkit-box-align: start;
           align-items: flex-start;
       }

       .middle-lg {
           -ms-flex-align: center;
           -webkit-box-align: center;
           align-items: center;
       }

       .bottom-lg {
           -ms-flex-align: end;
           -webkit-box-align: end;
           align-items: flex-end;
       }

       .around-lg {
           -ms-flex-pack: distribute;
           justify-content: space-around;
       }

       .between-lg {
           -ms-flex-pack: justify;
           -webkit-box-pack: justify;
           justify-content: space-between;
       }

       .first-lg {
           -ms-flex-order: -1;
           -webkit-box-ordinal-group: 0;
           order: -1;
       }

       .last-lg {
           -ms-flex-order: 1;
           -webkit-box-ordinal-group: 2;
           order: 1;
       }
	.hidden-lg {
		display: none !important;
	}
	.visible-lg {
		display: block !important;
	}


}