#menu-icon {
    z-index: 999;
}

#menu-icon {
    width: calc(1.5vh + 1.5vw + .75vmin);
    height: calc(1.5vh + 1.5vw + .75vmin);
    position: absolute;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10000;
    top: 8%;
    background: #004f71;
}

#menu-icon.open span:nth-child(1) {
    top: 50%;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#menu-icon.open span:nth-child(2) {
    opacity: 0;
    left: -40%;
}

#menu-icon.open span:nth-child(3) {
    top: 50%;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#menu-icon span:nth-child(1) {
    top: 25%;
}

#menu-icon span:nth-child(2) {
    top: 50%;
}

#menu-icon span:nth-child(3) {
    top: 75%;
}

#menu-icon span {
    display: block;
    position: absolute;
    height: 10%;
    width: 74%;
    left: 12%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#menu-icon {
    z-index: 999;
}

.menu-title {
    position: absolute;
    top: calc(4.5vw + 3.5vh + 3.5vmin);
    left: 0;
    height: auto;
    width: calc(1.2vh + 1.2vw + 1vmin);
    z-index: 999;
    /*background: -moz-linear-gradient(top, rgba(234, 226, 225, 0.97) 8%,rgba(25, 23, 23, 0.25) 4%, rgba(29, 28, 28, 0.78) 16%, rgb(19, 18, 18) 0%, rgba(239, 234, 234, 0.41) 165%, rgba(255, 255, 255, 0) 22%);
	background: -webkit-linear-gradient(top, rgba(80, 78, 78, 0.22) 6%,rgba(25, 23, 23, 0.78) 60%, rgba(29, 28, 28, 0.78) 16%, rgb(19, 18, 18) 76%, rgba(239, 234, 234, 0.41) 165%, rgba(255, 255, 255, 0) 22%);
	background: -o-linear-gradient(to right, rgba(248, 80, 50, 0) 6%,#191717 4%, rgba(29, 28, 28, 0.78) 8%, rgb(19, 18, 18) 6%, rgba(239, 234, 234, 0.41) 66%, rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(to right, rgba(234, 226, 225, 0.97) 8%,rgba(25, 23, 23, 0.25) 4%, rgba(29, 28, 28, 0.78) 16%, rgb(19, 18, 18) 0%, rgba(239, 234, 234, 0.41) 165%, rgba(255, 255, 255, 0) 22%);
	background: linear-gradient(to top, rgba(234, 226, 225, 0) 0%,rgba(25, 23, 23, 0.25) 4%, rgba(29, 28, 28, 0.78) 16%, rgb(19, 18, 18) 0%, rgba(239, 234, 234, 0.41) 165%, rgba(255, 255, 255, 0) 22%);*/
}

.mtext {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: block;
    color: #004f71;
    font-size: calc(.6vh + .6vw + .5vmin);
    text-align: center;
    line-height: normal;
    width: 100%;
    position: relative;
    height: 15px;
    font-weight: 700;
}

#bsc-menu.menuInLeft {
    left: 0%;
}

#bsc-menu.menuOutLeft {
    left: -100%;
}

#bsc-menu {
    position: absolute;
    left: 0%;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding: 0;
    display: block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    perspective: 1010px;
}

div#floatable-menu {
    position: relative;
    /* background: rgba(0, 79, 113, 0.95); */
    background: #f4f7f6;
    color: rgba(35, 31, 32, 0.8);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 28%;
    padding-top: 0%;
    display: inline-block;
    float: left;
}

div#openCloseMenu {
    height: 100%;
    position: absolute;
    background: rgba(45, 45, 45, 0.01);
    display: inline-block;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 100%;
}