/*start of Menu css*/
#menu-icon {
    width: calc(2.4vh + 1vw + 1vmin);
    height: calc(2.4vh + 1vw + 1vmin);
    position: absolute;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10000;
    top: 8%;
    background: #004f71;
}
#menu-icon span {
    display: block;
    position: absolute;
    height: 10%;
    width: 74%;
    left: 12%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#menu-icon span:nth-child(1) {
  top: 25%;
}

#menu-icon span:nth-child(2) {
  top: 50%;
}

#menu-icon span:nth-child(3) {
  top: 75%;
}

#menu-icon.open span:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menu-icon.open span:nth-child(2) {
  opacity: 0;
  left: -40%;
}

#menu-icon.open span:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#bsc-menu {
    position: absolute;
    left: -100%;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding: calc(1.2vh + 1.2vw + 1vmin);
    display:block;
    /*-webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;*/
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    
}
#bsc-menu.menuInLeft {
    left:0%;
}
#bsc-menu.menuOutLeft {
    left:-100%;
}
div#floatable-menu {
    position: relative;
    background: rgba(0, 79, 113, 0.95);
    color: rgba(35, 31, 32, 0.8);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding-top: 1%;
}
#home-icon {
     position: relative;
    right: calc(1vh + 1vw + .5vmin);
    font-size: calc(0.5vh + 0.4vw + 0.4vmin);
    color: white;
    cursor: pointer;
    z-index: 999;
    top: 3%;
    /*height: calc(1vw + 3vh + 1vmin);
    width: calc(6vw + 4vh + 4vmin);
    min-width: 125px;
    min-height: 50px;*/
    min-width: 9vw;
    min-height: 6vh;
    margin-right: 2vw;
    border-width: calc(0.2vw);
    border-color: rgba(255, 255, 255, 0.63);
    float:right;
}
#expand-all-icon {
    position: relative;
    right: calc(1.2vh + 1.2vw + 1vmin);
    top: 3%;
    font-size: calc(0.4vh + 0.4vw + 0.4vmin);
    color: white;
    cursor: pointer;
    z-index: 999;
            /*height: calc(1vw + 3vh + 1vmin);
    width: calc(6vw + 4vh + 4vmin);
    min-width: 125px;
    min-height: 50px;*/
    min-width: 9vw;
    min-height: 6vh;
    border-width: calc(0.2vw);    border-color: rgba(255, 255, 255, 0.63);
     float:right;
}
#collapse-all-icon {
    position: relative;
    right: calc(1.2vh + 1.2vw + 1vmin);
    top: 3%;
    font-size: calc(0.4vh + 0.4vw + 0.4vmin);
    color: white;
    cursor: pointer;
    z-index: 999;
    display:none;
    /*height: calc(1vw + 3vh + 1vmin);
    width: calc(6vw + 4vh + 4vmin);
    min-width: 125px;
    min-height: 50px;*/
    min-width: 9vw;
    min-height: 6vh;
    border-width: calc(0.2vw);    border-color: rgba(255, 255, 255, 0.63);
     float:right;
}


.menu-title {
    position: absolute;
    top: calc(4.5vw + 3.5vh + 3.5vmin);
    left: 0;
    height: auto;
    width: calc(1.2vh + 1.2vw + 1vmin);
    z-index:999;
   background: -moz-linear-gradient(top, rgba(234, 226, 225, 0.97) 8%,rgba(25, 23, 23, 0.25) 4%, rgba(29, 28, 28, 0.78) 16%, rgb(19, 18, 18) 0%, rgba(239, 234, 234, 0.41) 165%, rgba(255, 255, 255, 0) 22%);
    background: -webkit-linear-gradient(top, rgba(80, 78, 78, 0.22) 6%,rgba(25, 23, 23, 0.78) 60%, rgba(29, 28, 28, 0.78) 16%, rgb(19, 18, 18) 76%, rgba(239, 234, 234, 0.41) 165%, rgba(255, 255, 255, 0) 22%);
    background: -o-linear-gradient(to right, rgba(248, 80, 50, 0) 6%,#191717 4%, rgba(29, 28, 28, 0.78) 8%, rgb(19, 18, 18) 6%, rgba(239, 234, 234, 0.41) 66%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(to right, rgba(234, 226, 225, 0.97) 8%,rgba(25, 23, 23, 0.25) 4%, rgba(29, 28, 28, 0.78) 16%, rgb(19, 18, 18) 0%, rgba(239, 234, 234, 0.41) 165%, rgba(255, 255, 255, 0) 22%);
    background: linear-gradient(to top, rgba(234, 226, 225, 0) 0%,rgba(25, 23, 23, 0.25) 4%, rgba(29, 28, 28, 0.78) 16%, rgb(19, 18, 18) 0%, rgba(239, 234, 234, 0.41) 165%, rgba(255, 255, 255, 0) 22%);
}

.mtext {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: block;
    color: #fff;
    font-size: calc(.6vh + .6vw + .5vmin);
    text-align: center;
    line-height: normal;
    width: 100%;
    position: relative;
}

.button.icon:before {
    padding: 0 .6vw;
    font-size: calc(.7vw + .5vh + .5vmin);
    line-height: inherit;
}

div.three-colmns {
    min-height: 100%;
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 4px;
    overflow-y: auto;
    overflow-x: hidden;
}

.bg-for-title {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}
.bg-for-title > span {
    height: 20%;
    display: inline-block;
    width: 40%;
    text-align: center;
    font-size: calc(1.1vw + 1.1vh + 1.1vmin);
    color: white;
    position: relative;
    padding-top: 5%;
    font-weight: 600;
    float: left;
}
.menu-items-container {
    width: auto;
    min-height: 19.33vh;
    color: white;
    border-left: calc(0.2vw) solid #E59111;
    padding: 15px;
    position: relative;
    display: inline-block;
}
.bg-for-title > span:after {
    content: '';
    width: 50%;
    height: calc(0.15vw);
    background: #E59111;
    position: absolute;
    display: block;
    top: 120%;
    left: 50%;
}

.internal-divs ul.main-menu-items {
    font-size: calc(0.75vw + .75vh + .75vmin);
    -webkit-transition: all 0.6s cubic-bezier(0.59, 0.01, 0.37, 0.99);
    transition: all 0.6s cubic-bezier(0.59, 0.01, 0.37, 0.99);
}

ul.main-menu-items li {
    padding: calc(.45vw + .45vh + .45vmin);
}
.internal-divs > ul li {
    cursor: pointer;
}
.internal-divs > ul li:before {
    content: '';
    background: #E59111;
    width: 20px;
    height: calc(0.15vw);
    position: absolute;
    display: block;
    left: -15px;
    top: 19px;
}
span.reveal, span.secondReveal {
    color: #E59111;
    cursor: pointer;
}

span.reveal.icon.icon-bentarrow:before {
    font-size: calc(0.8vw + 0.8vh + 0.8vmin);
    position: relative;
    left: 1px;
    top: 4px;
    padding: 6px;
    border-radius: 50%;
    display: inline-block;
}
ul.first-sub-menu {
    font-size: 85%;
    position: relative;
    left: 95px;
    border-left: calc(.18vw) solid #E59111;
    padding-left: 15px;
    max-height: 0;
    color: white;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 1s cubic-bezier(0.59, 0.01, 0.37, 0.99);
    transition: all 1s cubic-bezier(0.59, 0.01, 0.37, 0.99);
}
span.reveal:hover ul.first-sub-menu {
    max-height: 100vh;
    opacity: 1;
}
ul.main-menu-items li {
    padding: calc(.45vw + .45vh + .45vmin);
        position: relative;
}
ul.second-sub-menu {
    font-size: 84%;
    position: relative;
    left: 22%;
    border-left: calc(.18vw) solid #E59111;
    padding-left: 15px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    color: white;
    -webkit-transition: all 0.6s cubic-bezier(0.59, 0.01, 0.37, 0.99);
    transition: all 0.6s cubic-bezier(0.59, 0.01, 0.37, 0.99);
}
span.secondReveal:hover ul.second-sub-menu {
    height: calc(8vh + 3vw + 3vmin);
    opacity: 1;
}

.row.topButtons {
    height: 11%;
    margin-top: 0px !important;
}
.row.menuButtons {
    height: 89%;
    margin-top: 0px !important;
    margin: 0;
    position: relative;
}

.menuButtons ion-content.padding.scroll-content.ionic-scroll {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    width: auto;
    height: auto;
}

/*Media Query for resolution between 400px ato 700px height*/
@media (min-height:400px) and (max-height:700px){

    span.secondReveal:hover ul.second-sub-menu {
        height: calc(12vh + 3vw + 3vmin);
        opacity: 1;
    }
    /*#home-icon {
        right: calc(8vh + 7vw + 7vmin);
    }*/

}