<ion-view view-title="Abhay Narnaware" class="forMenuAnimation viewBlock" cache-view="false" img-call backgd="https://publiccdn.sharepointonline.com/jda365.sharepoint.com/sites/OneStop/NewOneStopCDN/JDAUniversity/background.jpg">
    <!-- <div id="d"></div> -->
    <ion-header>
        <div class="row header middle-xs center-xs noPadding noMargin">
            <div class="col-xs-9 noPadding ">
                <div class="row middle-xs noPadding noMargin">
                    <div class="col-xs-3 noPadding ">
                        <img class="img-responsive" ui-sref="home" src="images/Abhay_Narnaware.png" />
                    </div>
                    <div class="col-xs-9 noPadding menuSection">
                        <span class="menuItem" ui-sref="projects">Projects</span>
                        <a href="https://github.com/abhaysofttech" target="_blank"><span class="menuItem">Git Repo</span></a>
                        <span class="menuItem" ui-sref="contact">Contact</span>
                    </div>
                </div>
            </div>

        </div>
    </ion-header>
    <ion-content scroll="true">
        <div class="viewContainer">
            <div class="row noMargin">
                <div class="col-lg-12 dataContainer">
                    <div class="content-block">
                        <h5>Contact to me</h5>
                    </div>
                    <div class="webinar-main-info">


                        <div class="webinar-author-info clearfix">
                            <figure class="clearfix">
                                <img class="b-lazy b-error b-loaded" src="images/Abhay%20Narnaware.jpg" alt="image">
                            </figure>
                            <div class="details">
                                <h5>Abhay Narnaware <span class="viewAll">Resume</span></h5>
                                <p>UX &amp; UI Developer<span class="company">JDA Software</span>
                                    <span>abhaysofttech@gmail.com</span>
                                </p>
                                <p>
                                    <span>9966307400</span>
                                </p>
                                <p>
                                    <span>Current Location: - Hyderabad</span>
                                </p>
                            </div>

                            <p class="no-margin">
                                I'm Software Engineer at JDA Software Pvt ltd. I have 6 year exprience in UX &amp; UI Developer and consultant. As part of JDA Software worked on the design and implementation of UI framework for multiple n-tier solutions spanning across domains. worked in multiple Devops tools and UI technologies and also worked in various engagements designing and architecting platforms. In addition to this i used to worked on ReactJS/ElectronJS/Sharepoint and also worked on designing tool Adobe Photoshop/Illustrator/InDesign and part of application engagements.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 right-panel noPadding">
                    <!-- widget -->
                    <div class="widget clearfix for-webinar">
                        <!-- Heading -->
                        <h4 class="widget-heading clearfix">My Designs<span class="viewAll" ui-sref="projects">View All</span></h4>
                        <!-- /Heading -->
                        <!-- Engage Box2 -->
                        <div class="engage-box2">
                           
                            <div class="row noMargin noPadding">
                                <div class="col-lg-4 rightPadding">
                                    <img src="images/projects/Cloud_Central.jpg" class="img-responsive" />
                                </div>
                                <div class="col-lg-4 rightPadding">
                                    <img src="images/projects/OneStop.jpg" class="img-responsive" />
                                </div>
                                <div class="col-lg-4 rightPadding">
                                    <img src="images/projects/Pitch_Perfect.jpg" class="img-responsive" />
                                </div>

                            </div>

                        </div>
                        <!-- /Engage Box2 -->
                    </div>
                    <!-- /widget -->

                    <!-- /widget -->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>