<ion-view view-title="Abhay Narnaware" class="forMenuAnimation viewBlock" cache-view="false" img-call backgd="https://publiccdn.sharepointonline.com/jda365.sharepoint.com/sites/OneStop/NewOneStopCDN/JDAUniversity/background.jpg">
    <!-- <div id="d"></div> -->
    <ion-header>
        <div class="row header middle-xs center-xs noPadding noMargin">
            <div class="col-xs-9 noPadding ">
                <div class="row middle-xs noPadding noMargin">
                    <div class="col-xs-3 noPadding ">
                        <img class="img-responsive" ui-sref="home" src="images/Abhay_Narnaware.png" />
                    </div>
                    <div class="col-xs-9 noPadding menuSection">
                        <span class="menuItem" ui-sref="projects">Projects</span>
<!--                        <a href="https://github.com/abhaysofttech" target="_blank"><span class="menuItem">Git Repo</span></a>-->
                        <span class="menuItem" ui-sref="contact">Contact</span>
                    </div>
                </div>
            </div>

        </div>
    </ion-header>
    <ion-content scroll="true">
        <div class="viewContainer">
            <div class="row noMargin">
                <div class="col-lg-12 dataContainer">
                    <div class="content-block">
                        <h5>Contact to me</h5>
                    </div>
                    <div class="webinar-main-info">


                        <div class="webinar-author-info clearfix">
                            <figure class="clearfix">
                                <img class="b-lazy b-error b-loaded" src="images/Abhay%20Narnaware.jpg" alt="image">
                            </figure>
                            <div class="details">
                                <h5>Abhay Narnaware <span class="viewAll">Resume</span></h5>
                                <p>UX &amp; UI Developer<span class="company">Zensar Technologies Pune</span>
                                    <span>abhaysoftskill@gmail.com</span>
                                </p>
                                <p>
                                    <span>9960732614</span>
                                </p>
                                <p>
                                    <span>Current Location: - Pune (MH)</span>
                                </p>
                            </div>

                            <p class="no-margin">
                                Hey there, I'm a senior software engineer at Zensar Technologies Pune. I have about 6 years 11 months of exprience in UX &amp; UI as a developer and consultant. As part of Zensar Technologies & JDA Software (Last Org) I have worked on design and implementation of UI frameworks for multiple n-tier solutions spanning across several domains. I have worked on multiple Devops tools and UI technologies and have been engaged with various designing and architecting platforms. In addition to this I have worked on ReactJS/ElectronJS/Sharepoint as for the designing tools I have worked on Adobe Photoshop/Illustrator/InDesign and parts of application engagements.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 right-panel noPadding">
                    <!-- widget -->
                    <div class="widget clearfix for-webinar">
                        <!-- Heading -->
                        <h4 class="widget-heading clearfix">My Designs<span class="viewAll" ui-sref="projects">View All</span></h4>
                        <!-- /Heading -->
                        <!-- Engage Box2 -->
                        <div class="engage-box2">
                           
                            <div class="row noMargin noPadding">
                                <div class="col-lg-4 rightPadding">
                                    <img src="images/projects/Cloud_Central.jpg" class="img-responsive" />
                                </div>
                                <div class="col-lg-4 rightPadding">
                                    <img src="images/projects/OneStop.jpg" class="img-responsive" />
                                </div>
                                <div class="col-lg-4 rightPadding">
                                    <img src="images/projects/Pitch_Perfect.jpg" class="img-responsive" />
                                </div>

                            </div>

                        </div>
                        <!-- /Engage Box2 -->
                    </div>
                    <!-- /widget -->

                    <!-- /widget -->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>