<ion-view view-title="Abhay Narnaware" class="forMenuAnimation viewBlock" cache-view="false" img-call backgd="https://publiccdn.sharepointonline.com/jda365.sharepoint.com/sites/OneStop/NewOneStopCDN/JDAUniversity/background.jpg">
    <!-- <div id="d"></div> -->
    <ion-header>
        <div class="row header middle-xs center-xs noPadding noMargin">
            <div class="col-xs-10 noPadding ">
                <div class="row middle-xs noPadding noMargin">
                    <div class="col-xs-3 noPadding ">
                        <img class="img-responsive" src="images/Abhay_Narnaware.png" />
                    </div>
                    <div class="col-xs-9 noPadding menuSection">
                         <span class="menuItem" ui-sref="projects">Projects</span>
                        <a href="https://github.com/abhaysofttech" target="_blank"><span class="menuItem">Git Repo</span></a>
                       <span class="menuItem" ui-sref="contact">Contact</span>
                    </div>
                </div>
            </div>

        </div>
    </ion-header>
    <ion-content>
        <div class="viewContainer">
            <div class="row noMargin noPadding">
                <div class="col-lg-12 noPadding" style="margin: 0 auto">
                    <div class="row noMargin">
                        <div class="col-lg-7 noPadding">
                            <div class="row noMargin">
                                <div class="col-lg-12 dataContainer">

                                    <div class="webinar-main-info">


                                        <div class="webinar-author-info clearfix">
                                            <figure class="clearfix">
                                                <img class="b-lazy b-error b-loaded" src="images/Abhay%20Narnaware.jpg" alt="image">
                                            </figure>
                                            <div class="details">
                                                <h5>Abhay Narnaware <a href="data/Abhay_Resume.docx" target="_blank"><span class="viewAll">Resume</span></a></h5>
                                                <p>UX &amp; UI Developer (Senior Software Engineer)<span class="company">Zensar Technologies Pune</span>
                                                    <span>abhaysofttech@gmail.com</span> UI Enthusiast| Passionate developer| Travel geek| Avid photographer
                                                </p>
                                            </div>

                                            <p class="no-margin">
                                                Hey there, I'm a senior software engineer at Zensar Technologies Pune. I have about 6 years 10 months of exprience in UX &amp; UI as a developer and consultant. As part of Zensar Technologies & JDA Software (Last Org) I have worked on design and implementation of UI frameworks for multiple n-tier solutions spanning across several domains. I have worked on multiple Devops tools and UI technologies and have been engaged with various designing and architecting platforms. In addition to this I have worked on ReactJS/ElectronJS/Sharepoint as for the designing tools I have worked on Adobe Photoshop/Illustrator/InDesign and parts of application engagements.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-12 dataContainer">
                                    <div id="webinar-description">
                                        <!-- Tabs1 -->
                                        <div class="tabs1 clearfix">
                                            <div class="description-header">
                                                <h3>A bit about my knowledge</h3>
                                            </div>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <!-- Tab pane -->
                                                <div role="tabpanel" class="tab-pane active" id="description">
                                                    <article class="post">
                                                        <!-- Content Block -->
                                                        <div class="content-block">
                                                            <p> So my take on user experience design (UX, UXD, UED or XD) is that it is a process by which user's satisfaction is enhanced through  improving the usability, accessibility, and pleasure provided in the interaction with the product.<br/><br/>In the past 5 years, I have loved my work, faced multiple chalenges and have come out wiser and smarter(there is a subtle difference between them :P). I have been blessed with working in multiple technologies and multiple application developments.<br/><br/> I worked in <b>HTML5, CSS3, JavaScript, Angular, jQuery, Ionic(Cordova, Phonegap) Mobile Application Development, Photoshop, Illustrator and Premier Pro.</b>I love designing and creating branding logos, rich web and mobile applications. I am developing optimized websites, cleaning code with SEO support as well as building mobile applications using <b>Ionic, Cordova or Phonegap frameworks.</b>
                                                            </p>

                                                        </div>
                                                        <!-- /Content Block -->

                                                    </article>
                                                </div>
                                                <!-- /Tab pane -->

                                                <!-- Content Block -->
                                                <div class="content-block">
                                                    <h5>Technical Skill</h5>
                                                    <div class="section-box-full">
                                                        <p class="my-status-block">
                                                            <span class="skills-parent">
						<span class="skills-list">
							<a href="#" class="skill btn-default" target="_blank">Angular/Angularjs</a><a href="#" class="skill btn-default" target="_blank">SharePoint</a><a href="#" class="skill btn-default" target="_blank">HTML5</a>
                                                     <a href="#" class="skill btn-default" target="_blank"> CSS3</a>
   <a href="#" class="skill btn-default" target="_blank"> Bootstrap</a>
                            <a href="#" class="skill btn-default" target="_blank"> DevExtreme Chart</a>
                            <a href="#" class="skill btn-default" target="_blank"> Brightcove</a>
                                                  <a href="#" class="skill btn-default" target="_blank"> ElectronJS</a>
  <a href="#" class="skill btn-default" target="_blank"> Reactjs</a>
                                                      <a href="#" class="skill btn-default" target="_blank"> Mobile Development</a>

                              <a href="#" class="skill btn-default" target="_blank"> NoSQL</a>
                              <a href="#" class="skill btn-default" target="_blank"> Web API Services</a>
                              <a href="#" class="skill btn-default" target="_blank"> HTTP Protocol</a>
                              <a href="#" class="skill btn-default" target="_blank"> REST APIs</a>
                              <a href="#" class="skill btn-default" target="_blank"> SOAP APIs</a>
                              <a href="#" class="skill btn-default" target="_blank"> Adobe Photoshop</a>
                              <a href="#" class="skill btn-default" target="_blank"> Adobe Illustrator</a>
                                                           <a href="#" class="skill btn-default" target="_blank"> PWA</a>
                              <a href="#" class="skill btn-default" target="_blank"> Package Manager like Npm</a>
                               </span>
                                                            <a href="javascript:void(0);" class="action-lnk show-hidden-skills" style="display: none;">+ 3 More</a></span>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- Tab panes -->
                                        </div>
                                        <!-- /Tabs1 -->
                                    </div>
                                </div>

                                <!--                                About the worked companies-->
                                <div class="col-lg-12 dataContainer">
                                    <div id="webinar-description">
                                        <!-- Tabs1 -->
                                        <div class="tabs1 clearfix">
                                            <div class="description-header">
                                                <h3>Something about my exprience in companies</h3>
                                            </div>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <!-- Tab pane -->
                                                <div role="tabpanel" class="tab-pane active" id="description">
                                                    <article class="post">
                                                        <!-- Content Block -->
                                                        <div class="content-block">
                                                            <p>In Sep 2012,I started my carrier as a Intern in small scale companies<b> AK Logical Technologies</b> which give me lot of knowledge and expriencs in various domain.<br/><br/>There I know how to design a protocol, design layout, creative work and also which i like most photography. That gives me a shape to make my skill as a creative and to help to scale me in present days. Also worked in .Net/Ionic/HTML5/CSS/Javascript/JQuery/Angular programming languages. <br/><br/>Here i'm worked for the 3 years - 2 Months. To take a new chalanges in my carrier i got the chance to start working in MNC at hyderabad, then i start my travel toward the the Cyber City Hyderabad.<br/><br/> In April 2016 I joined in <b>JDA Software Pvt.</b> But this is the opportunity as a contract for the short noticed period of time to worked. As a time to take a new step in my carrier i okay for the opportunity and i start worked on it.
                                                                <br/><br/> The exprience which i have in my 1st company it help me lot to get work done and work passionate on your work. In here, i learn lot about the work protocol and delivary management. Mostly i work in Innovation and in a 10 months as per my work i got chance to worked as permanent employee over here.



                                                            </p>
                                                            <!--
                                                            <p> </p>
                                                            <h5>Key points of discussion:</h5>
                                                            <ul>
                                                                <li>How insights from AI can drive software delivery?</li>
                                                                <li>What is Cognitive DevOps?</li>
                                                                <li>What are the key Metrics for designing intelligent systems?</li>
                                                                <li>How we can make use of Predictive analysis in DevOps?</li>
                                                                <li>Introduction to Azure Cognitive services.</li>
                                                            </ul>
-->
                                                        </div>
                                                        <!-- /Content Block -->




                                                        <!-- /Content Block -->
                                                    </article>
                                                </div>
                                                <!-- /Tab pane -->



                                            </div>
                                            <!-- Tab panes -->
                                        </div>
                                        <!-- /Tabs1 -->
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="col-lg-5 right-panel">
                            <!-- widget -->
                            <div class="widget clearfix for-webinar">
                                <!-- Heading -->
                                <h4 class="widget-heading clearfix">About Worked Projects <span class="viewAll" ui-sref="projects">View All</span></h4>
                                <!-- /Heading -->

                                <!-- Engage Box2 -->
                                <div class="engage-box2">
                                    <a href="" class="clearfix">
                                        <h5>JDA Cloud Central</h5>
                                        <p class="series-count"><span class="block">JDA Cloud Central application develope on top of Angularjs, sharepoint list. It's a completely dynamic application. All the contents comes from the SP list and images also load dynamicaly from the SP Document. This application is design about the Cloud Central which help the customer to undersand more about the company in cloud.  <br/><br/> To know about my role and challenges click on <b>Read More...</b> </span></p>
                                    </a>
                                    <p>
                                        <img src="images/projects/Cloud_Central.jpg" class="img-responsive" />
                                    </p>
                                    <!-- Footer -->
                                    <footer>
                                        <p>
                                            <!--
                                            <span class="block1"><i class="icon view-icon"></i>100k Views</span>
                                            <span class="block1 hide1"><i class="icon like-icon-small"></i>0 Likes</span>
-->
<!--
                                            <span class="block1"><i class="icon view-icon"></i>2 months ago</span>
                                            <span class="video"><i class="icon view-icon"></i>Video</span>
-->

                                        </p>
                                    </footer>
                                    <!-- /Footer -->
                                </div>
                                <!-- /Engage Box2 -->
                                <!-- Engage Box2 -->
                                <div class="engage-box2">
                                    <a href="" class="clearfix">
                                        <h5>Recent Designs <span class="viewAll">View All</span></h5>
                                    </a>
                                    <div class="row noMargin noPadding">
                                        <div class="col-lg-4 rightPadding">
                                            <img src="images/projects/Cloud_Central.jpg" class="img-responsive" />
                                        </div>
                                        <div class="col-lg-4 rightPadding">
                                            <img src="images/projects/OneStop.jpg" class="img-responsive" />
                                        </div>
                                        <div class="col-lg-4 rightPadding">
                                            <img src="images/projects/Pitch_Perfect.jpg" class="img-responsive" />
                                        </div>

                                    </div>

                                </div>
                                <!-- /Engage Box2 -->
                                <!-- Engage Box2 -->
                                <div class="engage-box2">
                                    <a href="" class="clearfix">
                                        <h5>Pitch Perfect</h5>
                                        <p class="series-count"><span class="block">Pitch Perfect application develope on top of Angularjs, ionic, sharepoint list. Pitch Perfect is an application to get the document from the resourece using free form search architecture. It's a completely dynamic application. All the contents comes from the SP list and images also load dynamicaly from the SP Document. <br/><br/> To know about my role and challenges click on <b>Read More...</b> </span></p>
                                    </a>
                                    <p>
                                        <img src="images/projects/Pitch_Perfect.jpg" class="img-responsive" />
                                    </p>
                                    <!-- Footer -->
                                    <footer>
                                        <p>
                                            <!--
                                            <span class="block1"><i class="icon view-icon"></i>100k Views</span>
                                            <span class="block1 hide1"><i class="icon like-icon-small"></i>0 Likes</span>
-->
<!--
                                            <span class="block1"><i class="icon view-icon"></i>2 months ago</span>
                                            <span class="video"><i class="icon view-icon"></i>Video</span>
-->

                                        </p>
                                    </footer>
                                    <!-- /Footer -->
                                </div>
                                <!-- /Engage Box2 -->

                            </div>
                            <!-- /widget -->

                            <!-- /widget -->
                        </div>

                        <div class="col-lg-12 noPadding right-panel" style="display:none">
                            <!-- widget -->
                            <div class="widget clearfix for-webinar">
                                <!-- Heading -->
                                <h4 class="widget-heading clearfix">Blogs <span class="viewAll">View All</span></h4>
                                <!-- /Heading -->
                                <div class="row noMargin noPadding">
                                    <div class="col-lg-4 rightPadding">
                                        <!-- Engage Box2 -->
                                        <div class="engage-box2">
                                            <a href="" class="clearfix">
                                                <h5>Pitch Perfect<span class="viewAll">View</span></h5>
                                                <p class="series-count"><span class="block">Pitch Perfect application is develop to pitch the customer. It is develope on top of Angularjs, ionic, sharepoint list. Pitch Perfect is an application to get the document from the resourece using free form search architecture. It's a completely dynamic application.  </span></p>
                                            </a>
                                            <p>
                                                <img src="images/projects/Pitch_Perfect.jpg" class="img-responsive" />
                                            </p>
                                            <!-- Footer -->
                                            <footer>
                                                <p>
                                                    <!--
                                                    <span class="block1"><i class="icon view-icon"></i>100k Views</span>
                                                    <span class="block1 hide1"><i class="icon like-icon-small"></i>0 Likes</span>
-->
                                                    <span class="block1"><i class="icon view-icon"></i>5 months ago</span>
                                                    <span class="video"><i class="icon view-icon"></i>Video</span>

                                                </p>
                                            </footer>
                                            <!-- /Footer -->
                                        </div>
                                        <!-- /Engage Box2 -->

                                    </div>
                                    <div class="col-lg-4 rightPadding">
                                        <!-- Engage Box2 -->
                                        <div class="engage-box2">
                                            <a href="" class="clearfix">
                                                <h5>JDA Cloud Central</h5>
                                                <p class="series-count"><span class="block">JDA Cloud Central application develope on top of Angularjs, sharepoint list. It's a completely dynamic application. All the contents comes from the SP list and images also load dynamicaly from the SP Document. This application is design about the Cloud Central which help the customer to undersand more about the company in cloud.  <br/><br/> To know about my role and challenges click on <b>Read More...</b> </span></p>
                                            </a>
                                            <p>
                                                <img src="images/projects/Cloud_Central.jpg" class="img-responsive" />
                                            </p>
                                            <!-- Footer -->
                                            <footer>
                                                <p>
                                                    <span class="block1"><i class="icon view-icon"></i>100k Views</span>
                                                    <span class="block1 hide1"><i class="icon like-icon-small"></i>0 Likes</span>
                                                    <span class="block1"><i class="icon view-icon"></i>2 months ago</span>
                                                    <span class="video"><i class="icon view-icon"></i>Video</span>

                                                </p>
                                            </footer>
                                            <!-- /Footer -->
                                        </div>
                                        <!-- /Engage Box2 -->

                                    </div>
                                    <div class="col-lg-4 rightPadding">
                                        <!-- Engage Box2 -->
                                        <div class="engage-box2">
                                            <a href="" class="clearfix">
                                                <h5>One Stop<span class="viewAll">View</span></h5>
                                                <p class="series-count"><span class="block">JDA Cloud Central application develope on top of Angularjs, sharepoint list. It's a completely dynamic application. All the contents comes from the SP list and images also load dynamicaly from the SP Document. This application is design about the Cloud Central which help the customer to undersand more about the company in cloud. </span></p>
                                            </a>

                                            <p>
                                                <img src="images/projects/OneStop.jpg" class="img-responsive" />
                                            </p>
                                            <!-- Footer -->
                                            <footer>
                                                <p>
                                                    <!--
                                                    <span class="block1"><i class="icon view-icon"></i>100k Views</span>
                                                    <span class="block1 hide1"><i class="icon like-icon-small"></i>0 Likes</span>
-->
                                                    <span class="block1"><i class="icon view-icon"></i>1.6 years ago</span>
                                                    <span class="video"><i class="icon view-icon"></i>Video</span>

                                                </p>
                                            </footer>
                                            <!-- /Footer -->
                                        </div>
                                        <!-- /Engage Box2 -->

                                    </div>
                                </div>

                            </div>
                            <!-- /widget -->

                            <!-- /widget -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>