<ion-view view-title="Abhay Narnaware" class="forMenuAnimation viewBlock" cache-view="false" img-call backgd="https://publiccdn.sharepointonline.com/jda365.sharepoint.com/sites/OneStop/NewOneStopCDN/JDAUniversity/background.jpg">
    <!-- <div id="d"></div> -->
    <ion-header>
        <div class="row header middle-xs center-xs noPadding noMargin">
            <div class="col-xs-10 noPadding ">
                <div class="row middle-xs noPadding noMargin">
                    <div class="col-xs-3 noPadding " ui-sref="home">
                        <img class="img-responsive" src="images/Abhay_Narnaware.png" />
                    </div>
                    <div class="col-xs-9 noPadding menuSection">
                        <span class="menuItem" ui-sref="projects">Projects</span>
<!--                        <a href="https://github.com/abhaysofttech" target="_blank"><span class="menuItem">Git Repo</span></a>-->
                        <span class="menuItem" ui-sref="contact">Contact</span>
                    </div>
                </div>
            </div>

        </div>
    </ion-header>
    <ion-content>
        <div class="viewContainer">
            <div class="row noMargin noPadding">
                <div class="col-lg-12 noPadding" style="margin: 0 auto">
                    <div class="row noMargin noPadding">
                        <div class="col-lg-12 noPadding">
                            <div class="row noMargin noPadding">
                                <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/angular-small.png" />
                                            <br/>
                                        </p>
                                        <h3 class="centerText">AngularJS</h3>


                                    </div>
                                </div>
                                <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/ionic-small.png" />
                                        </p>
<h3 class="centerText">Ionic</h3>

                                    </div>
                                </div>
                                <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/nodejs-small.png" />
                                        </p>
<h3 class="centerText">Node Js</h3>

                                    </div>
                                </div>
                                <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/pwa-small.png" />
                                        </p>
<h3 class="centerText">PWA</h3>

                                    </div>
                                </div>
                                 <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/stencil-small.png" />
                                        </p>
<h3 class="centerText">Stencil</h3>

                                    </div>
                                </div>
                                 <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/vue-small.png" />
                                        </p>
<h3 class="centerText">Vue</h3>

                                    </div>
                                </div>



                            </div>
                        </div>
   <div class="col-lg-12 noPadding right-panel">
                            <!-- widget -->
                            <div class="widget clearfix for-webinar">
                                <!-- Heading -->
                                <h4 class="widget-heading clearfix">About The Worked Projects</h4>
                                <!-- /Heading -->
                                <div class="row noMargin noPadding">
                                     <div class="col-lg-4 rightPadding">
                                        <!-- Engage Box2 -->
                                        <div class="engage-box2">
                                              <div class="content-block">
                                                <h5>AngularJS -  Expressions</h5>
                                               <p>Expressions are used to bind application data to html. Expressions are written inside double braces like <span>{{</span>expression<span>}}</span>. Expressions behaves in same way as ng-bind directives. AngularJS application expressions are pure javascript expressions and outputs the data where they are used.</p>
                                                  <pre class="prettyprint notranslate prettyprinted" style=""><span class="tag">&lt;p&gt;</span><span class="pln">Expense on Books : <span>{{</span>cost * quantity<span>}}</span> Rs</span><span class="tag">&lt;/p&gt;</span></pre>
                                            </div>
                                         </div>
                                    </div>
                                     <div class="col-lg-4 rightPadding">
                                        <!-- Engage Box2 -->
                                        <div class="engage-box2">
                                              <div class="content-block">
                                                <h5>AngularJS -  Controllers</h5>
                                               <p>AngularJS application mainly relies on controllers to control the flow of data in the application. A controller is defined using ng-controller directive. A controller is a JavaScript object containing attributes/properties and functions. Each controller accepts $scope as a parameter which refers to the application/module that controller is to control.</p>
                                                 <pre class="prettyprint notranslate prettyprinted" style=""><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">ng-app</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">""</span><span class="pln"> </span><span class="atn">ng-controller</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">"studentController"</span><span class="tag">&gt;</span><span class="pln">
   ...
</span><span class="tag">&lt;/div&gt;</span></pre>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /widget -->

                            <!-- /widget -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>