<ion-view view-title="Abhay Narnaware" class="forMenuAnimation viewBlock" cache-view="false" img-call backgd="https://publiccdn.sharepointonline.com/jda365.sharepoint.com/sites/OneStop/NewOneStopCDN/JDAUniversity/background.jpg">
    <!-- <div id="d"></div> -->
    <ion-header>
        <div class="row header middle-xs center-xs noPadding noMargin">
            <div class="col-xs-10 noPadding ">
                <div class="row middle-xs noPadding noMargin">
                    <div class="col-xs-3 noPadding " ui-sref="home">
                        <img class="img-responsive" src="images/Abhay_Narnaware.png" />
                    </div>
                    <div class="col-xs-9 noPadding menuSection">
                        <span class="menuItem" ui-sref="projects">Projects</span>
                        <a href="https://github.com/abhaysofttech" target="_blank"><span class="menuItem">Git Repo</span></a>
                        <span class="menuItem" ui-sref="contact">Contact</span>
                    </div>
                </div>
            </div>

        </div>
    </ion-header>
    <ion-content>
        <div class="viewContainer">
            <div class="row noMargin noPadding">
                <div class="col-lg-12 noPadding" style="margin: 0 auto">
                    <div class="row noMargin noPadding">
                        <div class="col-lg-12 noPadding">
                            <div class="row noMargin noPadding">
                                <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/angular-small.png" />
                                            <br/>
                                        </p>
                                        <h3 class="centerText">AngularJS</h3>


                                    </div>
                                </div>
                                <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/ionic-small.png" />
                                        </p>
<h3 class="centerText">Ionic</h3>

                                    </div>
                                </div>
                                <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/nodejs-small.png" />
                                        </p>
<h3 class="centerText">Node Js</h3>

                                    </div>
                                </div>
                                <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/pwa-small.png" />
                                        </p>
<h3 class="centerText">PWA</h3>

                                    </div>
                                </div>
                                 <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/stencil-small.png" />
                                        </p>
<h3 class="centerText">Stencil</h3>

                                    </div>
                                </div>
                                 <div class="col-lg-2 dataContainer">
                                    <div class="webinar-main-info">
                                        <p class="noMargin">
                                            <img class="img-responsive" src="images/logo/vue-small.png" />
                                        </p>
<h3 class="centerText">Vue</h3>

                                    </div>
                                </div>



                            </div>
                        </div>
   <div class="col-lg-12 noPadding right-panel">
                            <!-- widget -->
                            <div class="widget clearfix for-webinar">
                                <!-- Heading -->
                                <h4 class="widget-heading clearfix">About The Worked Projects</h4>
                                <!-- /Heading -->
                                <div class="row noMargin noPadding">
                                    <div class="col-lg-8 rightPadding">
                                        <!-- Engage Box2 -->
                                        <div class="engage-box2">
                                            <a href="" class="clearfix">
                                                <h5>Introduction<span class="viewAll" ui-sref="viewprojects({projectName: project.projectName,indxid:$index})" >View</span></h5>
                                                <p class="series-count"><span class="block">AngularJS is a very powerful JavaScript Framework. It is used in Single Page Application (SPA) projects. It extends HTML DOM with additional attributes and makes it more responsive to user actions. AngularJS is open source, completely free, and used by thousands of developers around the world.</span></p>
                                            </a>
                                            
                                            <!-- Content Block -->
                                            <div class="content-block">
                                                <h5>What is AngularJS</h5>
                                               <p class="series-count"><span class="block">AngularJS is a very powerful JavaScript Framework. It is used in Single Page Application (SPA) projects. It extends HTML DOM with additional attributes and makes it more responsive to user actions. AngularJS is open source, completely free, and used by thousands of developers around the world. It is licensed under the Apache license version 2.0.</span></p>
                                            </div>
                                            
                                            <div class="content-block">
                                                    <h5>Features of Angularjs</h5>
                                                <ul>
                                                                <li>AngularJS is a powerful JavaScript based development framework to create RICH Internet Application(RIA).</li>
                                                                <li>AngularJS provides developers options to write client side application (using JavaScript) in a clean MVC(Model View Controller) way.</li>
                                                                <li>Application written in AngularJS is cross-browser compliant. AngularJS automatically handles JavaScript code suitable for each browser.</li>
                                                                <li>AngularJS is open source, completely free, and used by thousands of developers around the world.</li>
                                                            </ul>
                                                <p><span>Overall, AngularJS is a framework to build large scale and high performance web application while keeping them as easy-to-maintain.</span></p>
                                            </div>
                                            <div class="content-block">
                                                    <h5>Core Features of Angularjs</h5>
                                                <ul>
                                                                <li><b>Data-binding −</b> It is the automatic synchronization of data between model and view components.</li>
                                                                <li><b>Scope − </b>These are objects that refer to the model. They act as a glue between controller and view.</li>
                                                                <li><b>Controller −</b> These are JavaScript functions that are bound to a particular scope.</li>
                                                                <li><b>Services −</b> AngularJS come with several built-in services for example $https: to make a XMLHttpRequests. These are singleton objects which are instantiated only once in app.</li>
                                                    <li><b>Filters −</b> These select a subset of items from an array and returns a new array.</li>
                                                    <li><b>Directives −</b> Directives are markers on DOM elements (such as elements, attributes, css, and more). These can be used to create custom HTML tags that serve as new, custom widgets. AngularJS has built-in directives (ngBind, ngModel...)</li>
                                                    <li><b>Templates −</b> These are the rendered view with information from the controller and model. These can be a single file (like index.html) or multiple views in one page using "partials".</li>
                                                    <li><b>Routing −</b> It is concept of switching views.</li>
                                                    <li><b>Model View Whatever −</b> MVC is a design pattern for dividing an application into different parts (called Model, View and Controller), each with distinct responsibilities. AngularJS does not implement MVC in the traditional sense, but rather something closer to MVVM (Model-View-ViewModel). The Angular JS team refers it humorously as Model View Whatever.</li>
                                                    <li><b>Deep Linking −</b> Deep linking allows you to encode the state of application in the URL so that it can be bookmarked. The application can then be restored from the URL to the same state.</li>
                                                    <li><b>Dependency Injection −</b> AngularJS has a built-in dependency injection subsystem that helps the developer by making the application easier to develop, understand, and test.</li>
                                                            </ul>
                                                <p><span>Overall, AngularJS is a framework to build large scale and high performance web application while keeping them as easy-to-maintain.</span></p>
                                            </div>
                                            
                                             <div class="content-block">
                                                    <h5>Advantages of AngularJS</h5>
                                                <ul>
                                                                <li>AngularJS provides capability to create Single Page Application in a very clean and maintainable way.</li>
                                                                <li>AngularJS provides data binding capability to HTML thus giving user a rich and responsive experience.</li>
                                                                <li>AngularJS code is unit testable.</li>
                                                                <li>AngularJS uses dependency injection and make use of separation of concerns.</li>
                                                    <li>AngularJS provides reusable components.</li>
                                                    <li>With AngularJS, developer write less code and get more functionality.</li>
                                                    <li>In AngularJS, views are pure html pages, and controllers written in JavaScript do the business processing.</li>
                                                            </ul>
                                                <p><span>On top of everything, AngularJS applications can run on all major browsers and smart phones including Android and iOS based phones/tablets.</span></p>
                                            </div>
                                            <div class="content-block">
                                                    <h5>Disadvantages of AngularJS</h5>
                                                <ul>
                                                                <li><b>Not Secure −</b> Being JavaScript only framework, application written in AngularJS are not safe. Server side authentication and authorization is must to keep an application secure.</li>
                                                                <li><b>Not degradable −</b> If your application user disables JavaScript then user will just see the basic page and nothing more.</li>
                                                            </ul>
                                            </div>
                                            
                                             <div class="content-block">
                                                    <h5>What are AngularJS Components</h5>
                                                 <p><span>The AngularJS framework can be divided into following three major parts −</span></p>
                                                <ul>
                                                                <li><b>ng-app − </b>This directive defines and links an AngularJS application to HTML.</li>
                                                                <li><b>ng-model − </b>This directive binds the values of AngularJS application data to HTML input controls.</li>
                                                    <li><b>ng-bind −</b> This directive binds the AngularJS Application data to HTML tags.</li>
                                                            </ul>
                                            </div>
                                            <!-- Footer -->
                                            <footer>
                                                <p>
                                                    <span class="block1"><i class="icon view-icon"></i>{{project.view}} Views</span>
                                                    <span class="block1 hide1"><i class="icon like-icon-small"></i>{{project.like}} Likes</span>
                                                    <span class="block1"><i class="icon view-icon"></i>2 months ago</span>
                                                    <span class="video"><i class="icon view-icon"></i>Video</span>

                                                </p>
                                            </footer>
                                            <!-- /Footer -->
                                        </div>
                                    </div>
                                     <div class="col-lg-4 rightPadding">
                                        <!-- Engage Box2 -->
                                        <div class="engage-box2">
                                              <div class="content-block">
                                                <h5>AngularJS -  Directives</h5>
                                               <p class="series-count"><span class="block">AngularJS directives are used to extend HTML. These are special attributes starting with ng- prefix</span></p>
                                                  <ul>
                                                  <li><b>ng-app −</b> This directive starts an AngularJS Application.</li>
                                                  <li><b>ng-init −</b> This directive initializes application data.</li><li><b>ng-model −</b> This directive binds the values of AngularJS application data to HTML input controls.</li>
                                                  <li><b>ng-repeat −</b> This directive repeats html elements for each item in a collection.</li>
                                                  </ul>
                                            </div>
                                            <div class="content-block">
                                                <h5>ng-app -  Directives</h5>
                                               <p class="series-count"><span class="block">ng-app directive starts an AngularJS Application. It defines the root element. It automatically initializes or bootstraps the application when web page containing AngularJS Application is loaded. It is also used to load various AngularJS modules in AngularJS Application. In following example, we've defined a default AngularJS application using ng-app attribute of a div element.</span></p>
                                                <pre class="prettyprint notranslate prettyprinted" style=""><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">ng-app</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">""</span><span class="tag">&gt;</span><span class="pln">
   ...
</span><span class="tag">&lt;/div&gt;</span></pre>

                                            </div>
                                            <hr/>
                                            <div class="content-block">
                                                <h5>ng-init -  Directives</h5>
                                               <p class="series-count"><span class="block">ng-init directive initializes an AngularJS Application data. It is used to put values to the variables to be used in the application. In following example, we'll initialize an array of countries. We're using JSON syntax to define array of countries.</span></p>
                                               <pre class="prettyprint notranslate prettyprinted" style=""><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">ng-app</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">""</span><span class="pln"> </span><span class="atn">ng-init</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">"countries = [{locale:'en-US',name:'United States'}, {locale:'en-GB',name:'United Kingdom'}, {locale:'en-FR',name:'France'}]"</span><span class="tag">&gt;</span><span class="pln">
   ...
</span><span class="tag">&lt;/div&gt;</span></pre>

                                            </div>
                                            <hr/>
                                             <div class="content-block">
                                                <h5>ng-model -  Directives</h5>
                                               <p class="series-count"><span class="block">This directive binds the values of AngularJS application data to HTML input controls. In following example, we've defined a model named "name".</span></p>
                                               <pre class="prettyprint notranslate prettyprinted" style=""><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">ng-app</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">""</span><span class="tag">&gt;</span><span class="pln">
   ...
   </span><span class="tag">&lt;p&gt;</span><span class="pln">Enter your Name: </span><span class="tag">&lt;input</span><span class="pln"> </span><span class="atn">type</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">"text"</span><span class="pln"> </span><span class="atn">ng-model</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">"name"</span><span class="tag">&gt;&lt;/p&gt;</span><span class="pln">
</span><span class="tag">&lt;/div&gt;</span></pre>

                                            </div>
                                            <hr/>
                                             <div class="content-block">
                                                <h5>ng-repeat  -  Directives</h5>
                                               <p class="series-count"><span class="block">ng-repeat directive repeats html elements for each item in a collection. In following example, we've iterated over array of countries.</span></p>
                                              <pre class="prettyprint notranslate prettyprinted" style=""><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">ng-app</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">""</span><span class="tag">&gt;</span><span class="pln">
   ...
   </span><span class="tag">&lt;p&gt;</span><span class="pln">List of Countries with locale:</span><span class="tag">&lt;/p&gt;</span><span class="pln">
   
   </span><span class="tag">&lt;ol&gt;</span><span class="pln">
      </span><span class="tag">&lt;li</span><span class="pln"> </span><span class="atn">ng-repeat</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">"country in countries"</span><span class="tag">&gt;</span><span class="pln">
         {{ 'Country: ' + country.name + ', Locale: ' + country.locale }}
      </span><span class="tag">&lt;/li&gt;</span><span class="pln">
   </span><span class="tag">&lt;/ol&gt;</span><span class="pln">
   
</span><span class="tag">&lt;/div&gt;</span></pre>

                                            </div>
                                            <hr/>
                                            
                                            
                                         </div>
                                    </div>
                               
                                </div>

                            </div>
                            <!-- /widget -->

                            <!-- /widget -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>